<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-2 m-0 c-0">
                <nav class="category">
                    <h3 class="category__heading">Danh mục</h3>

                    <ul class="category-list">
                        <li class="category-item category-item--active">
                            <a href="#" id='test' class="category-item__link">Trang điểm mặt</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Trang điểm môi</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Trang điểm mắt</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col l-10 m-12 c-12">
                <div class="home-filter hide-on-mobile-tablet">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                    <button class="home-filter__btn btn">Bán chạy</button>

                    <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="select-input-icon fas fa-angle-down"></i>

                        <!-- List option -->
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>
                    </div>

                    <div class="home-filter__page">
            <span class="home-filter__page-num">
              <span class="home-filter__page-current">1</span>/14
            </span>

                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                <i class="home-filter__page-icon fas fa-angle-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <nav class="mobile-category">
                    <ul class="mobile-category__list">
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">Dụng cụ & thiết bị tiện ích</a>
                        </li>
                    </ul>
                </nav>

         <div class="home-product">
          <!-- Grid -> row -> column -->
          <!-- Product item -->
          <div class="row sm-gutter test1">
              <div class="test2">
            <div class="col l-2-4 m-4 c-6">
              <!-- Product item -->
              <a class="home-product-item" href="/products/show/\{{slug}}">
                <div class="home-product-item__img"
                  style="background-image: url(data:\{{image.[0].contentType}};base64,{{image.[0].data}});">
                </div>
                <h4 class="home-product-item__name">\{{name}}</h4>
                <div class="home-product-item__price">
                  <span class="home-product-item__price-old">{{showPrice price 0}}</span>
                  <span class="home-product-item__price-current">{{showPrice price salePrice}}</span>
                </div>
                <div class="home-product-item__action">
                  <span class="home-product-item__like home-product-item__like--liked">
                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                  </span>
                  <div class="home-product-item__rating">
                    <i class="home-product-item__star--gold fas fa-star"></i>
                    <i class="home-product-item__star--gold fas fa-star"></i>
                    <i class="home-product-item__star--gold fas fa-star"></i>
                    <i class="home-product-item__star--gold fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span class="home-product-item__sold">88 đã bán</span>
                </div>

                <div class="home-product-item__origin">
                  <span class="home-product-item__brand">\{{brand}}</span>
                  <span class="home-product-item__origin-name">\{{country}}</span>
                </div>
                <div class="home-product-item__favourite">
                  <i class="fas fa-check"></i>
                  <span>Yêu thích</span>
                </div>
                <div class="home-product-item__sale-off">
                  <span class="home-product-item__sale-off-percent">{{salePecents price salePrice}}</span>
                  <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
              </a>
            </div>
              </div>
          </div>
        </div>
                <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-left"></i>
                        </a>
                    </li>

                    <li class="pagination-item pagination-item--active">
                        <a href="/?page=1" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="/?page=2" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="/?page=3" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">14</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <!-- Form register -->
        {{!-- <div class="auth-form">
          <div class="auth-form__container">
            <div class="auth-form__header">
              <h3 class="auth-form__heading">Đăng ký</h3>
              <span class="auth-form__switch-btn">Đăng nhập</span>
            </div>
            <div class="auth-form__form">
              <div class="auth-form__group">
                <input type="text" class="auth-form__input" placeholder="Email của bạn">
              </div>
              <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
              </div>
              <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
              </div>
            </div>

            <div class="auth-form__aside">
              <p class="auth-form__policy-text">Bằng việc đăng kí, bạn đã đồng ý với F8Shop về
                <a class="auth-form__text-link" href="">Điều khoản dịch vụ</a> &
                <a class="auth-form__text-link" href="">Chính sách bảo mật</a>
              </p>
            </div>

            <div class="auth-form__control">
              <button class="btn btn--normal auth-form__control-back">TRỞ LẠI</button>
              <button class="btn btn--primary ">ĐĂNG KÝ</button>
            </div>
          </div>
          <div class="auth-form__socials">
            <a href="" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
              <i class="auth-form__socials-icon fab fa-facebook-square"></i>
              <span class="auth-form__socials-title">Kết nối với Facebook</span>
            </a>
            <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
              <i class="auth-form__socials-icon fab fa-google"></i>
              <span class="auth-form__socials-title">Kết nối với Google</span>
            </a>
          </div>
        </div> --}}

        <!-- Form login -->
        <form method="GET" action="/">
            <div id="auth-form-login" class="auth-form">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn">Đăng ký</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Email của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>

                    <div class="auth-form__control">
                        <button class="btn btn--normal auth-form__control-back">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                        <span class="auth-form__socials-title">Kết nối với Facebook</span>
                    </a>
                    <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-google"></i>
                        <span class="auth-form__socials-title">Kết nối với Google</span>
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>